/* === ТАБЛИЦЫ ДАННЫХ === */
.state-table {
    display: grid;
    /* Универсальная сетка по умолчанию */
    grid-template-columns: minmax(80px, 1fr) auto 1fr;
    
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: #fff;
    font-family: 'Consolas', monospace;
    font-size: 13px;
    margin-bottom: 15px;
    overflow: hidden; /* Скругление углов */
}

/* === ЯЧЕЙКИ === */
.state-header, .state-name, .state-data {
    padding: 6px 8px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    
    /* Обработка длинного текста */
    white-space: pre-wrap;
    word-break: break-all;
    align-content: center;
}

/* Убираем правую границу у последней колонки */
.state-header:last-child, .state-data:last-child {
    border-right: none;
}

/* === ЗАГОЛОВКИ === */
.state-header {
    background-color: #f1f3f5; /* Светло-серый фон */
    color: #495057;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid #dee2e6; /* Более жирная линия под шапкой */
}

/* === ДАННЫЕ === */
.state-name {
    background-color: #fdfdfe;
    font-weight: 600;
    color: #333;
}

.state-data {
    font-family: 'Courier New', monospace;
    text-align: right;
}

/* === СПЕЦИАЛЬНАЯ ТАБЛИЦА РЕГИСТРОВ === */
/* Name | Dec | U-Dec | Hex | Bin */
#registry-table {
    grid-template-columns: 
        minmax(50px, 0.8fr)  /* Name */
        minmax(40px, 1fr)    /* Dec */
        minmax(40px, 1fr)    /* U-Dec */
        minmax(35px, 0.8fr)  /* Hex */
        minmax(70px, 1.5fr); /* Bin (самая широкая) */
}
