.controls {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

input[type="number"] {
    padding: 8px;
    font-size: 16px;
    width: 80px;
}

.editor-wrapper {
    position: relative;
}

#codeInput, #highlighter {
    padding: 15px;
    font-family: monospace;
    font-size: 16px;
    line-height: 21px; /* Фиксированная высота строки - это ключ к успеху */
    border-radius: 5px;
    box-sizing: border-box; /* Чтобы padding не влиял на общую ширину/высоту */
}

#codeInput {
    position: relative; /* Чтобы быть над абсолютным элементом */
    z-index: 1;         /* Размещаем над подсветкой */
    width: 100%;
    min-height: 550px;
    color: #f1f1f1;
    border: 1px solid #ccc;
    background-color: #2d2d2d;
    white-space: pre;
    overflow: auto;
    
    caret-color: white;            /* Делаем курсор видимым на темном фоне */
}

#highlighter {
    position: absolute; /* Позиционируем относительно wrapper */
    z-index: 2;         /* Размещаем под текстовым полем */
    top: 0;             /* Начальная позиция */
    left: 0;
    width: 100%;
    height: 21px; /* Высота равна одной строке */
    background-color: #41e75d4e;
    transition: top 0.02s ease; /* Плавное движение */
    display: none; /* Изначально подсветка скрыта */
    padding: 0;
}
