.state-table {
    display: grid;
    grid-template-columns: 80px 120px 1fr;
    /* gap: 8px; */
    border: 1px solid black;
    font-family: monospace;
    font-size: 16px;
    background-color: aliceblue;
}

.state-name {
    padding: 2px;
    border: 1px solid black;
    font-weight: bold;
}

.state-data {
    padding: 2px;
    border: 1px solid black;
    color: #0056b3;
    font-weight: bold;
}


/* Специальная сетка для регистров: Name | Dec | Hex | Bin */
#registry-table {
    grid-template-columns: 60px 50px 40px 1fr; 
}

/* Выравнивание чисел по правому краю выглядит аккуратнее */
.state-data {
    text-align: right;
    padding-right: 5px;
}

/* Уменьшаем шрифт для бинарного кода, чтобы влезло */
.state-bin {
    font-size: 14px;
    letter-spacing: -1px; /* Слегка сжимаем, чтобы цифры стояли плотнее */
}

/* Заголовки колонок */
.state-header {
    background-color: #e0e0e0;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    border-bottom: 2px solid #ccc;
    font-size: 14px;
}